.titleRoutePage {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #333;
  margin-top: 62px;
}
.profileModalRoutesPage {
  position: absolute;
  top: 93px;
  right: 64px;
}
.fromToTextRoutePage {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 26px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #000;
  display: flex;
  align-items: center;
  gap: 4px;
}
.titlePlaceRoutePage {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #000;
  cursor: pointer;
}
.blockObjectRoutePageScroll {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  padding-block: 20px;
  overflow-y: scroll;
  padding-right: 60px;
  width: 100%;
}
.blockObjectRoutePage {
  display: flex;
  height: calc(40vh - 40px);
  overflow: hidden;
  margin-block: 20px;
  margin-left: 30px;
}
.blockRoutePage {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  justify-content: space-around;
  border-right: 4px solid #424242;
  width: 40vw;
  max-width: 480px;
  height: 55vh;
}
.blockInfoRoutePage {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 60px;
}
.titlePlaceRoutePageActive {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #271dff;
  cursor: pointer;
}
.textLeftInfoObjectRoutePage {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-align: start;
  color: #000;
}
.addressInfoObjectRoutePage {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.03em;
  text-align: start;
  color: #000;
}
.lineInfoObjectRoutePage {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  max-width: 604px;
  overflow: hidden;
  max-height: 184px;
}
.imgObjectRouteContainer {
  height: 25vh;
  margin-bottom: 20px;
}
.titleInfoObjectRoutePage {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.03em;
  text-align: start;
  color: #000;
  margin-bottom: 15px;
  width: 100%;
}
.infoObjectRoutePage {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  padding-left: 80px;
  width: 70%;
  height: 55vh;
}
.infoObjectContRoutePage {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
}
.lineInfoObjectRoutePageScroll {
  height: 100%;
  overflow-y: scroll;
  margin-bottom: 15px;
  flex-direction: column;
  align-items: start;
}
.lineContInfoObjectRoutePage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.textBottomTitleRoutePage {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 22px;
  line-height: 92%;
  color: #0e008f;
  gap: 6px;
}
.containerRoutePage {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-inline: 10vw;
  cursor: pointer;
}
.routePage {
  overflow: hidden;
}
