.textProfileModal {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #000;
  padding-left: 41px;
  width: calc(100% - 41px);
  border-bottom: 1px solid #e6e6e6;
  padding-block: 10px;
  cursor: pointer;
}
.textProfileModalActive {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #271dff;
  padding-left: 41px;
  width: calc(100% - 41px);
  border-bottom: 1px solid #e6e6e6;
  padding-block: 10px;
  cursor: pointer;
}
.profileModal {
  padding-block: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border: 2px solid #adadad;
  border-radius: 20px 3px 20px 20px;
  width: 184px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
